@use '../../../../app/styles/helpers/variables.scss' as var;
@use '../../../../app/styles/helpers/functions.scss' as fun;

.buttonContinue {
  display: flex;
  align-items: center;
  gap: fun.to-rem(8);
  border-radius: fun.to-rem(100) !important;
  font-weight: bold !important;
  padding: fun.to-rem(12) !important;
  background-color: var.$blue !important;
}
