@use '../../../../app/styles/helpers/functions.scss' as fun;
@use '../../../../app/styles/helpers/variables.scss' as var;

.header {
  grid-area: header;
  padding: fun.to-rem(20) fun.to-rem(32);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var.$white-grey;
  }
}

.headerWrapper {
  max-width: fun.to-rem(987);
  display: flex;
  justify-content: space-between;
}
