@use '../../../app/styles/helpers/variables.scss' as var;
@use '../../../app/styles/helpers/functions.scss' as fun;

.labelWrapper {
  position: relative;
}

.eye {
  display: block;
  position: absolute;
  top: calc(50% + fun.to-rem(2));
  right: fun.to-rem(14);
  opacity: 0.5;
  transform: translateY(-50%);
  cursor: pointer;

  &.active {
    fill: var.$blue-light;
  }
}
