@use '../../../../app/styles/helpers/functions.scss' as fun;
@use '../../../../app/styles/helpers/variables.scss' as var;

.disclaimers {
  color: var.$grey-black;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: auto;
}

.disclaimersTitle {
  margin-bottom: fun.to-rem(90);
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: fun.to-rem(30);
  margin-bottom: fun.to-rem(40);

  a {
    position: relative;
    font-size: fun.to-rem(14);
    color: var.$blue-light-link;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: fun.to-rem(1);
      background-color: var.$blue-violet;
    }
  }
}

.questionContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.questionText {
  max-width: fun.to-rem(645);
  text-align: left;
  color: var.$grey;
  font-size: fun.to-rem(12);
}

.questionButtonContainer {
  display: flex;
  min-width: fun.to-rem(162);
  gap: fun.to-rem(15);

  button {
    border-radius: fun.to-rem(12);
    font-weight: 700;
    padding: fun.to-rem(8) 0;
  }
}

.inputNameError {
  top: initial;
  bottom: fun.to-rem(-18);
}

// ?------------

.nickNames {
  color: var.$black;
  width: 100%;
  padding-top: fun.to-rem(50);
}

.nickNamesTitle {
  font-size: fun.to-rem(24);
  font-weight: 500;
  text-align: center;
  margin-bottom: fun.to-rem(80);
}

.nickNamesText {
  font-weight: 700;
  text-align: center;
  margin-bottom: fun.to-rem(30);
}

.nickNamesInputs {
  display: flex;
  flex-direction: column;
  gap: fun.to-rem(25);
  max-width: fun.to-rem(284);
  margin: auto;

  label {
    color: var.$primary;
  }

  input {
    font-weight: 700;
  }
}

// ?------------

.quizWrapper {
  width: 100%;
  text-align: center;
  padding-top: fun.to-rem(60);
  color: var.$black;
  font-weight: 500;
}

.quizTitle {
  margin-bottom: fun.to-rem(70);
  font-size: fun.to-rem(24);
}
