@use '../../../app/styles/helpers/variables.scss' as var;
@use '../../../app/styles/helpers/functions.scss' as fun;
@use '../../../app/styles/helpers/mixins.scss' as mix;

.link,
.button {
  text-align: center;
  width: 100%;
  background-color: var.$blue;
  color: var.$white;
  font-size: fun.to-rem(16);
  padding: fun.to-rem(14) 0;
  border: fun.to-rem(1) solid transparent;
  border-radius: fun.to-rem(4);

  @include mix.smooth(background-color, 0.3s);
}

.link {
  display: block;
}

.withIcon {
  text-align: left;
  padding: fun.to-rem(5);
  display: flex;
  align-items: center;
  gap: fun.to-rem(18);
}

.google {
  background-color: var.$white;
  color: var.$grey-dark;
  border-color: var.$grey-light;

  &:hover {
    background-color: var.$white-darknes;
  }
}

.facebook {
  background-color: var.$blue-grey;
  color: var.$white;
  border-color: var.$blue-grey;

  &:hover {
    background-color: var.$blue-grey-darknes;
  }
}

.textButton {
  width: fit-content;
  background-color: transparent;
  padding: 0;
  color: var.$blue-violet;
  font-weight: bold;
}

.edit,
.updateInfo {
  padding: fun.to-rem(5) fun.to-rem(15);
  border-radius: fun.to-rem(100);
  transition: background-color 0.3s;
  font-weight: 700;

  &:hover {
    background-color: var.$white-grey-2;
  }
}

.edit {
  color: var.$blue;
  background-color: var.$blue-white;
}

.updateInfo {
  color: var.$red;
  background-color: var.$red-white;
}

.nonActive {
  background-color: var.$white-grey-2;
  border-color: var.$white-grey-border;
  color: var.$black;
}

.isDisable {
  opacity: 0.5;
}
