// colors
$primary: #6b7280;
$secondary: #e9ebf1;

$white: #fff;
$white-darknes: #f2f2f2;
$white-grey: #f1f1f1;
$white-grey-2: #f9fafb;
$white-grey-border: #e5e7eb;
$white-blue: #eff6fe;

$grey: #8e9399;
$grey-light: #dee0e2;
$grey-md: #767f8b;
$grey-dark: #333333;
$grey-blue: #1f2937;
$grey-black: #1c2333;

$blue-white: #eff6ff;
$blue-light: #20b4ff;
$blue-light-link: #2563eb;
$blue-violet: #635dff;
$blue: #2663eb;

$blue-grey: #3b5998;
$blue-grey-darknes: #293e6a;
$blue-md: #17355f;
$blue-dark: #111827;

$green: #44b66f;
$green-white: #e9fbf0;

$black: #000000de;

$error: #f00;
$orange-dark: #ff5733;

$red: #c23838;
$red-white: #fef2f2;

// sizes
$default-font: 14;

$sm-screen: 376px;
$sm2-screen: 500px;
$md-screen: 720px;
$md2-screen: 1020px;
$lg-screen: 1440px;
