@use '../../../../app/styles/helpers/variables.scss' as var;
@use '../../../../app/styles/helpers/functions.scss' as fun;

.formContainer {
  display: flex;
  justify-content: space-between;
  gap: fun.to-rem(10);
}

.title {
  color: var.$grey-dark;
  font-weight: 700 !important;
}
