@use '../../../../app/styles/helpers/variables.scss' as var;
@use '../../../../app/styles/helpers/functions.scss' as fun;

.resetPasswordWrapper {
  max-width: fun.to-rem(380);

  text-align: center;
}

.logo {
  position: absolute;
  top: fun.to-rem(10);
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: fun.to-rem(80);

  span {
    color: var.$blue-dark;
  }
}

.contentWrapper {
  position: relative;
}

.iconWrapper {
  position: absolute;
  left: 0;
  top: fun.to-rem(6);
  border-radius: 50%;
  color: var.$blue-dark;
  background-color: var.$white;
  width: fun.to-rem(25);
  height: fun.to-rem(25);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 fun.to-rem(1) fun.to-rem(3) rgba(0, 0, 0, 0.1);
}

.iconBack {
  cursor: pointer;
}

.title {
  color: var.$black;
  font-weight: 700;
  font-size: fun.to-rem(24);
  margin-bottom: fun.to-rem(20);
}

.desc {
  display: block;
  margin-bottom: fun.to-rem(10);
}

.input {
  display: block;
  margin-bottom: fun.to-rem(10);
}
